summary {
	cursor: pointer;
	display: table;
	outline: none;
	&:hover {
		color: var(--theme-color);
	}
	&:before {
		content: "👉";
		margin-right: 0.25em;
	}
}
details {
	border: 1px solid #eee;
	padding: 1.25rem 1rem;
	margin: 2rem auto 2rem;
	& > *:last-child {
		margin-bottom: 0;
	}
}

:root {
	--theme-color: #dd4444;
}
.app-name,
.sidebar-nav {
	padding-left: 1rem;
}
.sidebar > h1 {
	text-align: left;
}
.sidebar-nav > ul li > a {
	font-weight: 600;
}
.sidebar-nav > ul li ul li > a {
	font-weight: 400;
}
.sidebar-nav > ul,
.sidebar-nav > ul li > ul {
	margin-left: 0;
}
.sidebar-nav ul ul {
	padding-left: 0.25rem;
}

.search h2,
.search p {
	margin: 0 !important;
}
body .search h2 {
	font-size: 1rem;
}

.matching-post {
	padding: 0.75rem 0.5rem 1rem;
	&:last-child {
		padding-bottom: 0;
	}
}

section.cover {
	.cover-main {
		margin-left: auto !important;
		margin-right: auto !important;
		max-width: 700px;
		& > p:last-child {
			a {
				&:hover {
					border-color: currentColor;
				}
				&:last-child:hover {
					background-color: transparent;
				}
			}
		}
	}
}

.markdown-section pre > code {
	line-height: 1.4;
}

pre::after {
	font-weight: normal;
}


#md {
	margin-top: 2rem;
	font-size: 12px;
	display: block;
	width: 100%;
	border-width: 0;
	resize: none;
	opacity: 0;
	&:focus {
		opacity: 1;
	}
}


#in {
	// display: none;
	opacity: 0;
}